.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 20px;
  line-height: 1;
  letter-spacing: -1px;
  text-align: left;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #3B797F;
}

.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
}

.map {
  width: 15%;
  height: 15%;
  float: left;
  padding-right: 7px;
}

.row {
  border: 1px;
  color: black;
  text-align: center;
}

.tour_header {
  text-align: left;
}

.spotNumber {
  text-align: -webkit-left;
  width: 10%;
}

.spotInfo {
  text-align: -webkit-center;
  width: 80%;
}

.spotPoints {
  text-align: -webkit-right;
  width: 10%;
}

.spotsContainer {
  border: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

